/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
    line-height: 1.6;
}

/* NAVIGATION */
header {
    background: #111;
    color: #fff;
    padding: 15px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #00adee;
}

/* HERO */
.hero {
    text-align: center;
    padding:80px 0px;
    background: #2b5a2f;
}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.tagline {
    margin-top: 10px;
    color: #000000;
}

/* SECTION HEADINGS */
section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

/* ABOUT */
.about1 {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
}
.about2 {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
}
/* SKILLS */
.skills {
    background: #fff;
    padding: 40px 20px;
}

.skills-grid {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.skill-item {
    background: #e8e8e8;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

/* PROJECTS */
.projects {
    padding: 20px 20px;
}

.projects-container {
    max-width: 1800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 25px;
}

.project-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #00adee;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
}

.btn:hover {
    background: #0077a8;
}

/* CONTACT */
.contact {
    background: #fff;
    padding: 40px 20px;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-links a {
    text-decoration: none;
    font-weight: bold;
    color: #00adee;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background: #111;
    color: white;
}

/* RESPONSIVE DESIGN */
@media (max-width: 780px) {
    .nav-links {
        flex-wrap: wrap;
        gap: 10px;
    }

    .hero {
        padding: 40px 10px;
    }
}